.landing_page {
  background-image: url("/images/bg.png");
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -99;
}
.main {
  margin: 250px 0 0 100px;
}
.title {
  font-size: 90px;
  font-weight: 800;
  letter-spacing: 5px;
}
.title span {
  font-family: 'Lobster', cursive!important;
  color: #beef38;
  margin-left: 15px;
  font-size: 120px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.text {
  width: 650px;
  font-weight: 600;
  margin-top: 30px;
}
.shoes_img {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 30%;
  left: 38%;
  transform: rotate(-30deg);
}
.main_bottom {
  margin: 90px 0 0 110px;
  display: flex;
  font-size: 25px;
}
.main_bottom button {
  width: 230px;
  height: 60px;
  margin-top: 5px;
  background-color: #beef38;
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: 3px 8px 22px rgba(22, 21, 21, 0.15);
  font-weight: 700;
}
.main_bottom button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.social_icons {
  margin-left: 60px;
}
.social_icons i {
  color: #beef38;
  text-align: center;
  padding: 17px 17px 3px 17px;
  border-radius: 50%;
  box-shadow: 3px 8px 22px rgba(22, 21, 21, 0.15);
  margin: 5px 15px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.social_icons i:hover {
  transform: scale(1.2);
  color: #fff;
  background-color: greenyellow;
  transition: all 0.5s;
}
